<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

    <h1>Employee Insert Form</h1>
    <form method="post">
        {% comment %} <table class="table">
          {{form.as_table}}          
        </table> --> {% endcomment %}
        <!-- {{form.as_p}} 
        
            {{form.as_ul}}    -->     
        
            <table class="table">
              <tr>
                  <td>First Name</td>
                  <td>{{form.FirstName}}</td>
              </tr>

              <tr>
                <td>Last Name</td>
                <td>{{form.LastName}}</td>
              </tr>
              <tr>
                <td>Title Name</td>
                <td>{{form.TitleName}}</td>
              </tr>
              <tr>
                <td>Has Passport</td>
                <td>{{form.HasPassport}}</td>
              </tr>
              <tr>
                <td>Salary</td>
                <td>{{form.Salary}}</td>
              </tr>
              <tr>
                <td>BirthDate</td>
                <td>{{form.BirthDate}}</td>
              </tr>
              <tr>
                <td>HireDate</td>
                <td>{{form.HireDate}}</td>
              </tr>
              <tr>
                <td>Notes</td>
                <td>{{form.Notes}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{form.Email}}</td>
              </tr>
              <tr>
                <td>PhoneNumber</td>
                <td>{{form.PhoneNumber}}</td>
              </tr>
              <tr>
                <td>Department</td>
                <td>{{form.EmpDepartment}}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{form.EmpCountry}}</td>
              </tr>
            </table>

        {% csrf_token %}
      <input type="submit" name="" class = 'btn btn-success btn-lg' value="Insert Record">
      <a href="{% url 'EmployeesList' %}">Back To List</a>
    </form>


    
</body>
</html>