<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk Insert Demo</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" /> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
  </head>
  <body>
    <div class="container mt-5">
      <center>
        <h2>Bulk Insert</h2>
      </center><br />
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-row font-weight-bold">
          <div class="col-md-4 mb-3">
            <center>First Name</center>
          </div>
          <div class="col-md-4 mb-3">
            <center>Last Name</center>
          </div>
          <div class="col-md-4 mb-3">
            <center>Title Name</center>
          </div>
        </div>
        {% for form in forms %}
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <center>{{ form.FirstName }}</center>
            </div>
            <div class="col-md-4 mb-3">
              <center>{{ form.LastName }}</center>
            </div>
            <div class="col-md-4 mb-3">
              <center>{{ form.TitleName }}</center>
            </div>
          </div>
        {% endfor %}
        <center>
          <button type="submit" class="btn btn-primary">Submit</button>
        </center>
      </form>
    </div>
  </body>
</html>
